<html>
	<head>
    <title>Jamazing To-do's</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-app="myTodos" ng-controller="MainCtrl">
    <div>
      {{test}}
    </div>
    <div ng-repeat="todo in todos | orderBy: '-priority'">
    	<span ng-click="incrementPriority(todo)"> ^ </span>
  		<a ng-show="todo.link" href="{{todo.link}}">
  			{{todo.title}} 
  		</a>
  		<span ng-hide="todo.link">
  			{{todo.title}}
  		</span>
  		- priority {{todo.priority}}
	</div>
	<!-- <button ng-click="addTodo()">Add ToDo</button> -->
	
	<form ng-submit="addTodo()">
		<input type="text" ng-model="title"></input>
		<input type="text" ng-model="link"></input>
		<button type="submit">Add ToDo</button>
	</form>
  </body>
</html>
